html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  height: inherit;
  width: inherit;
  margin: 0;
}

:root {
  --z-index-page: 1;
  --z-index-modal: 10;
  --z-index-toast: 100;
}
